.nano {
  position: relative;
  width: 100%;
  overflow: hidden;

  > .nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &:focus {
      outline: 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}

.nano > .nano-pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 7px;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .01;

  > .nano-slider {
    background: #444;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    margin: 0 1px;
    border-radius: 2px;
  }
}

.nano-pane {
  &.active, &.flashed {
    /* Target only IE7 and IE8 with this hack */

    opacity: .99;
  }
}

.nano {
  &:hover > .nano-pane {
    /* Target only IE7 and IE8 with this hack */

    opacity: .99;
  }

  width: 100%;

  .nano-content {
    padding: 10px 15px 10px 10px;
  }

  .nano-pane {
    background: #7f80b0;
    opacity: .5;
  }

  .nano-slider {
    background: #7f80b0;
  }
}
