
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=17420d09102543ad4eb43a67062d8a33
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress