
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=a5e070268913d1d48d20fc7cfb8270d9
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress